.dudas
tdl/errores.txt
tdl/parse.txt
tdl/ts.txt
tdl/tokens.txt
tdl/cuartetos.txt
tdl/_edt.txt
gco/errores.txt
gco/parse.txt
gco/ts.txt
gco/tokens.txt
gco/cuartetos.txt
gco/codobj.ens
tdl/target/
.infopractica/